---
layout: markdown_page
title: "Create Team"
---

## On this page
{:.no_toc}

- TOC
{:toc}

### Create Team
{: #create}

The Create team is responsible for all backend aspects of the [Create stage of the DevOps lifecycle][stage],
which is all about creating code, and includes all functionality around source code management,
code review (merge requests), the Web IDE, wikis, and snippets.

For more details about the vision for this area of the product, please
see the [Create stage][stage] page and the [2019 product vision blog post][blog post].

[stage]: /handbook/product/categories/#create
[blog post]: /2018/09/21/create-vision/

### Team members

<%= direct_team(manager_role: 'Engineering Manager, Create') %>

### Stable counterparts

<%= stable_counterparts(role_regexp: /, Create/, direct_manager_role: 'Engineering Manager, Create') %>

## Work

In general, we use the standard GitLab [engineering workflow]. To get in touch
with the Create team, it's best to [create an issue] in the relevant project
(typically [GitLab CE]) and add the ~Create label, along with any other
appropriate labels. Then, feel free to ping the relevant Product Manager and/or
Engineering Manager as listed above.

For more urgent items, feel free to use [#g_create] on Slack.

[engineering workflow]: /handbook/engineering/workflow/
[create an issue]: /handbook/communication/#everything-starts-with-an-issue
[GitLab CE]: https://gitlab.com/gitlab-org/gitlab-ce

### Retrospectives

The Create team conducts [monthly retrospectives in GitLab issues][retros]. These include
the backend team, plus any people from frontend, UX, and PM who have worked with
that team during the release being retrospected.

These are confidential during the initial discussion, then made public in time
for each month's [GitLab retrospective]. For more information, see [team
retrospectives].

[#g_create]: https://gitlab.slack.com/archives/g_create
[retros]: https://gitlab.com/gl-retrospectives/create/issues?scope=all&utf8=%E2%9C%93&state=all&label_name[]=retrospective
[GitLab retrospective]: /handbook/engineering/workflow/#retrospective
[team retrospectives]: /handbook/engineering/management/team-retrospectives/
